@import url('./reset.css');

:root {
    --point-color: #ff5e5e;
    --blue-color: #46ABF8;
    --black-color: #333;
    --white-color: #fff;
    --dark-gray:#666666;
    --dark-gray-text:#707070;
    --gray-color:#919191;
    --light-gray: #DEDEDE;
    --gray-bg:#f8f8f8;
  }

.point-txt{color: var(--point-color);}

/* 공통 레이아웃 */
.wrap{display: flex; justify-content: space-between;}
.wrap .common-right{width: calc(100% - 300px);}
.common-right .content-wrap{background: var(--gray-bg); height: 100%; padding: 30px; box-sizing: border-box;}
.common-right .content-wrap h2.tit{font-size: 26px; font-weight: 600; margin-bottom: 20px;}

/* 공통 메뉴 */
#menu{width: 300px; height: 100vh; box-shadow: 0 0 20px #0001; display: flex; flex-direction: column; justify-content: space-between; padding: 0 50px; box-sizing: border-box; position: fixed;}
#menu .user-wrap{margin-top: 130px; margin-bottom: 50px;}
#menu .user-wrap div,
#menu .user-wrap span{font-size: 26px;}
#menu .user-wrap div{color: var(--dark-gray-text);}
#menu .user-wrap span{font-weight: 600;}
#menu .menu-wrap{flex: 2;}
#menu .menu-wrap .tit{font-size: 24px; font-weight: bold; margin-bottom: 20px;}
#menu .menu-wrap li{padding: 15px 0;}
#menu .menu-wrap li i{font-size: 20px; color: var(--dark-gray-text); margin-right: 10px;}
#menu .menu-wrap li a{font-size: 20px; color: var(--dark-gray-text); transition: all 0.2s;}
#menu .menu-wrap li:hover a,
#menu .menu-wrap li:hover i{color: var(--point-color);}
#menu .ver{padding-bottom: 40px; color: var(--gray-color);}

/* 공통 헤더 */
header{padding: 15px 30px; box-sizing: border-box; box-shadow: 0 0 10px #0001; display: flex; justify-content: space-between; align-items: center; width: 100%; position: sticky; left: 0; top: 0; background: var(--white-color); z-index: 1;}
header h1.logo{width: 70px;}
header .logout{font-weight: 600;}

/* 공통 ellip */
.ellip1{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;}
.ellip2{overflow: hidden; white-space: normal; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}

/* 공통 라디오박스 */
.radio-wrap{display: inline-flex; align-items: center;}
.radio-wrap + .radio-wrap{margin-left: 20px;}
input[type='radio'].type1{appearance: none !important; width: 20px; height: 20px; border: 1px solid var(--gray-color); border-radius: 50%; position: relative; margin-right: 0.714rem; cursor: pointer;}
input[type='radio'].type1::after{content: ''; background: var(--gray-color); border-radius: 50%; width: 60%; height: 60%; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
input[type='radio'].type1 + label,
input[type='radio'].type1 + label span{color: var(--gray-color); font-size: 1rem; font-weight: 500;}
input[type='radio'].type1:checked{border-color: var(--point-color);}
input[type='radio'].type1:checked::after{background: var(--point-color);}

/* 공통 체크박스 */
input[type='checkbox'].type1{appearance: none !important; background: var(--white-color); width: 20px; height: 20px;  border: 1px solid var(--gray-color); border-radius: 3px; position: relative; cursor: pointer;}
input[type='checkbox'].type1::after{content: ''; background: url('../../img/agree-arrow.svg') no-repeat 50%/cover; width: 50%; height: 50%; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
input[type='checkbox'].type1 + label,
input[type='checkbox'].type1 + label span{color: var(--gray-color); font-size: 1rem; font-weight: 500;}
input[type='checkbox'].type1:checked{border-color: var(--point-color);}
input[type='checkbox'].type1:checked::after{background-image: url('../../img/agree-arrow2.svg');}


/* 공통 인풋 */
.input-area + .input-area{margin-top: 0.714rem;}
.txt-box{width: 100%; border: 1px solid var(--dark-gray); padding: 0px 20px; box-sizing: border-box; border-radius: 50px; line-height: 40px; font-size: 14px; height: 40px; outline: none; transition: border 0.3s;}
.txt-box:active,
.txt-box:hover{border: 1px solid var(--point-color);}
.txt-box::placeholder{color: var(--gray-color); font-size: 12px;}
input[type='date'].txt-box{max-width: 14.285rem;}
input[type='date'] + .date-deco{margin: 0 10px;}


/* 공통 버튼 */
.black-btn{display: inline-block; background: var(--black-color); width: 100%; border-radius: 50px; color: var(--white-color); line-height: 40px; height: 40px; box-sizing: border-box; font-size: 14px; font-weight: bold; text-align: center;}
.point-btn{display: inline-block; background: var(--point-color); width: 100%; border-radius: 50px; color: var(--white-color); line-height: 40px; height: 40px; box-sizing: border-box; font-size: 14px; font-weight: bold; text-align: center;}
.gray-btn{display: inline-block; background: var(--light-gray); width: 100%; border-radius: 50px; color: var(--black-color); line-height: 40px; height: 40px; box-sizing: border-box; font-size: 14px; font-weight: bold; text-align: center;}
.point-b-btn{display: inline-block; background: var(--white-color); width: 100%; border-radius: 50px; border: 1px solid var(--point-color); line-height: 40px; height: 40px; box-sizing: border-box; font-size: 14px; font-weight: bold; text-align: center; color: var(--point-color);}

/* 공통 검색 */
.search-wrap{background: var(--white-color); border-radius: 10px; box-shadow: 0 0 10px #0001; padding: 20px; box-sizing: border-box; margin-bottom: 20px;}
.search-wrap table{width: 100%;}
.search-wrap table .button-td{width: 160px;}
.search-wrap table td{padding: 5px 0;}
.search-wrap table th{font-size: 14px; font-weight: 600; width: 100px; text-align: left;}
.search-wrap .txt-box{max-width: 300px;}

/* 리스트 공통 레이아웃 */
.list-table-wrap{margin-bottom: 40px;}
.list-table-wrap .top{display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.list-table-wrap .top .btn-wrap{display: flex; align-items: center;}
.list-table-wrap .top .btn-wrap button,
.list-table-wrap .top .btn-wrap a{width: 100px; height: 30px; line-height: 30px; display: inline-block; font-size: 12px; font-weight: 500;}
.list-table-wrap .top .btn-wrap button + button,
.list-table-wrap .top .btn-wrap a:first-child{margin-right: 5px;}
.list-table-wrap .top .btn-wrap a + a{margin-left: 5px;}
.list-table-wrap .bottom{background: var(--white-color); padding: 20px; box-sizing: border-box; border-radius: 10px; min-height: 500px;}
.list-table-wrap .bottom table{width: 100%; text-align: center; table-layout: fixed;}
.list-table-wrap .bottom table thead{background: var(--gray-bg);}
.list-table-wrap .bottom table thead th{padding: 10px 0; vertical-align: middle; box-sizing: border-box;}
.list-table-wrap .bottom table tr{border-bottom: 1px solid var(--light-gray);}
.list-table-wrap .bottom table td{padding: 10px 5px; box-sizing: border-box; vertical-align: middle;}
.list-table-wrap .bottom table td .view-btn{font-weight: 400; font-size: 12px; line-height: 30px; height: 30px;}
.page{width: 100%;}
.page ul{width: auto; display: flex; align-self: center; justify-content: center;}
.page ul li a{padding: 10px; box-sizing: border-box;}
.page ul li.on a{color: var(--point-color); font-weight: 600;}
.page ul li + li{margin-left: 10px;}

/* 뷰페이지 공통 레이아웃 */
.wrap.detail .content-wrap{height: 100%; min-height: calc(100vh - 65px);}
.wrap.detail .detail-wrap{background: var(--white-color); border-radius: 10px; width: 100%; box-shadow: 0 0 10px #0001; padding: 30px; box-sizing: border-box;}
.wrap.detail .detail-wrap section + section{margin-top: 40px;}
.wrap.detail .detail-wrap .sec-tit{font-size: 20px; font-weight: 600; margin-bottom: 20px;}
.wrap.detail .detail-wrap .table-wrap{width: 100%;}
.wrap.detail .detail-wrap .table-wrap .type2{width: 100%; border: 1px solid var(--light-gray); background: var(--white-color);}
.wrap.detail .detail-wrap .table-wrap .type2 tr{border-bottom: 1px solid var(--light-gray);}
.wrap.detail .detail-wrap .table-wrap .type2 th{background: var(--gray-bg); width: 120px; text-align: left; padding: 10px 20px; box-sizing: border-box; vertical-align: middle; border-right: 1px solid var(--light-gray);}
.wrap.detail .detail-wrap .table-wrap .type2 td{ padding: 20px; box-sizing: border-box; vertical-align: middle;}
.wrap.detail .detail-wrap .table-wrap .type2 input[type='text'],
.wrap.detail .detail-wrap .table-wrap .type2 input[type='date'],
.wrap.detail .detail-wrap .table-wrap .type2 select{border: 1px solid var(--light-gray); background: var(--white-color); padding: 10px; box-sizing: border-box; border-radius: 5px; font-family: 'Pretendard';}
.wrap.detail .btn-wrap{display: flex; justify-content: center; margin-top: 40px;}
.wrap.detail .btn-wrap button{width: 120px;}
.wrap.detail .btn-wrap button + button{margin-left: 5px;}
.wrap.detail .yutube-wrap input[type="text"]{width: 100%;}

/* 공통 레이어 */
/* 레이어 팝업 버튼 wrap */
.layer-pop .btn-wrap{margin-top: 1.428rem;}
.layer-pop .btn-wrap button{width: auto; min-width: 8.571rem; height: 2.857rem; line-height: 2.857rem; font-size: 1rem;}
/* 2개 */
.layer-pop .btn-wrap.two{display: flex; justify-content: center;}
.layer-pop .btn-wrap.two button:first-child{margin-right: 5px;}

/* 공통 레이어 */
.layer-pop{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100;}
.layer-pop .bg{background: #0008; width: 100%; height: 100%;}
.layer-pop .inner-layer{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 350px; background: #fff; border-radius: 0.714rem; box-shadow: 0 0 0.714rem #0002; padding: 3.571rem 1.428rem 30px; box-sizing: border-box;}
.layer-pop .inner-layer p{text-align: center; font-size: 14px; font-weight: 500; line-height: 1.3;}
.layer-pop .inner-layer p strong{font-size: 14px;}


/* 공통 애니메이션 */
.fadeIn{display: block !important; animation: fadeIn 0.3s forwards !important;}
.fadeOut{animation: fadeOut 0.3s forwards !important;}

/* fadeIn, fadeOut */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}